/* page1 style */

.heading {
  padding-top: 22vh;
  color: #0059bd;
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.subheading {
  padding-top: 4vh;
  color: #000000;
  font-size: 1.3rem;
  font-weight: 500;
  padding-left: 2vh;
  padding-right: 2vh;
}

.bg {
  /* background-image: url('./photospage123/background.png'); */
  background-repeat: no-repeat;
  height: 1000px;
}

.heropage {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.photo {
  padding-top: 15vh;
  position: relative;
}

/* page2 backgrounds */

.page2-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  padding-top: 3rem;
  width: 100%;
}

.container-fulid {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
}
.sec-1 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  padding-bottom: 2rem;
}
.sec-2 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  padding-bottom: 2rem;
}
.sec-4 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  padding-bottom: 2rem;
}
.sec-3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  padding-bottom: 2rem;
}
#bg-4 {
  background-color: #ecf8f2 !important;
}
#bg-3 {
  background-color: #fceeef !important;
}
#bg-2 {
  background-color: #fef6ec !important;
}
#bg-1 {
  background-color: #f3f9ff !important;

}
.bg1 {
  background-color: #f3f9ff;
  height: 20vh;
  width: 28vh;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 5vh;
  text-align: center;
}

.bg2 {
  background-color: #fef6ec;
  height: 20vh;
  width: 28vh;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 5vh;
  text-align: center;
}

.bg3 {
  background-color: #fceeef;

  height: 20vh;
  width: 28vh;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 5vh;
  text-align: center;
}

.bg4 {
  background-color: #ecf8f2;
  height: 20vh;
  width: 28vh;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding-top: 5vh;
  text-align: center;
}

.icon1 {
  font-size: 50px;
  color: #a0cbf3;
}
.icon2 {
  font-size: 50px;
  color: #f9cf88;
}
.icon3 {
  font-size: 50px;
  color: #edaeb3;
}
.icon4 {
  font-size: 50px;
  color: #afedc8;
}

.page3background {
  background-color: #6fb5e4;
  padding: 50px;
  color: white;
  text-align: center;
  padding: 80px;
  font-size: 40px;
  font-size: 3.8rem;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman";
}

.quotes {
  font-size: 80px;
}

@media screen and (max-width: 700px) {
  .page3background {
    font-size: 1.8rem;
    padding: 2rem 3rem;
  }
  .heading {
    padding-top: 3vh;
    color: #0059bd;
    font-size: 2.3rem;
    font-weight: bolder;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .subheading {
    padding-top: 1vh;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 2vh;
    padding-right: 2vh;
  }
  .photo {
    padding-top: 2vh;
  }
}

@media (max-width: 700px) {
  .container-fulid {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .sec-1 {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .sec-2 {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .sec-3 {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .sec-4 {
    display: flex;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .bg1 {
    height: 15vh;
    width: 20vh;
    padding-top: 2vh;
    font-size: 2vh;
  }
  .bg2 {
    height: 15vh;
    width: 20vh;

    padding-top: 2vh;
    font-size: 2vh;
  }
  .bg3 {
    height: 15vh;
    width: 20vh;

    padding-top: 2vh;
    font-size: 2vh;
  }
  .bg4 {
    height: 15vh;
    width: 20vh;

    padding-top: 2vh;
    font-size: 2vh;
  }
  .icon1 {
    font-size: 40px;
    color: #a0cbf3;
  }
  .icon2 {
    font-size: 40px;
    color: #f9cf88;
  }
  .icon3 {
    font-size: 40px;
    color: #edaeb3;
  }
  .icon4 {
    font-size: 40px;
    color: #afedc8;
  }
}

/* CSS for page-4 */
.btn1 {
  transition: all 0.3s ease-in-out !important;
}
.btn1:hover {
  background-color: #edaeb3 !important;
  font-weight: 700 !important;
  transform: scale(1.1) !important;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3) !important;
}
@media (max-width: 576px) {
  .row {
    gap: 0.5rem !important;
    align-items: center !important;
  }
  .card {
    width: 100% !important; /* Card ka width chhota ho jayega */
    padding: 1rem !important;
    align-items: center !important; /* Padding kam karne ke liye */
  }

  .card-title {
    font-size: 1rem !important; /* Title ka size chhota karne ke liye */
  }
  .card-body {
    font-size: 0.8rem !important;
    padding-left: 0rem !important;
    padding-right: 0rem !important;
  }
  .card-img-top {
    height: 9rem !important;
  }
  .btn1 {
    height: 2.4rem !important;
  }
  .text-center {
    font-size: 1.5rem !important;
    padding-bottom: 0rem !important;
  }
}
/* css for page - 5 */

@media (max-width: 768px) {
  .d-flex {
    gap: 0rem !important;
    width: 95% !important;
    margin: auto;
  }

  .card {
    padding: 0% !important;
  }
  .mb-1 {
    font-size: 1.1rem;
  }
  .mb-0 {
    font-size: 0.6rem !important;
    font-weight: 400 !important;
  }
  .p3 {
    font-size: 1rem !important;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
/* css of footer page */
/* .Footer {
  height: 70vh;
  width: 100vw;
  background-color: #e3f2fd;
  display: flex;
  align-items: flex-start;
  justify-content: center;
} */
.footer-container {
  padding-top: 0rem;
  padding-bottom: 2rem;
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  /* border-radius: 1rem; */
}
.icon-sec {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
  padding-top: 1rem;
}
i {
  font-size: 1.5rem !important;
  color: white !important;
  height: 3rem !important;
  width: 3rem !important;
  border: 2px solid white !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all 0.3s ease-in-out !important;
}
i:hover {
  color: #000 !important;
  background-color: white;
  transform: scale(1.2);
  font-size: 1.5rem;
}
.content-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding-top: 1rem;
  color: #ecf8f2;
  gap: 2.5rem;
}
@media (max-width: 768px) {
  .footer-container {
    width: 100%;
    height: 20vh;
    padding-top: 1rem;
  }
  .icon-sec {
    padding-top: 4rem;
    gap: 1rem;
  }
  i {
    font-size: 1rem !important;
    height: 2rem !important;
    width: 2rem !important;
  }
  .content-sec {
    gap: 1rem;
    padding-top: 1rem;
    font-size: 0.7rem;
  }
  .Footer {
    height: 35vh;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


/* TimeTable */
.timetable-container
{
  background-color: #7f97eff4;
  color: White;
}
.row1-time
{
  background-color: #d5ddf3;
  color: #6b89f8;
}
.col1-days,.days
{
  background-color:#7f97efaa;
  color: white;
  font-weight: bold;
}
/* .tablehover:hover
{
  border: .1rem solid #7f97ef !important;
} */


/* Feedback Page */
.container-feed
{
  background-color:#edf3fa ;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
.subcontainer-feed
{
  background-color: white;
  border-radius: 2rem;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 5vh;
  padding-right: 5vh;
}
.feed
{
  border-bottom: .2rem solid #f4f4f4;
}
.emoji
{
  height: 7.5vh;
  width: 7.5vh;
  /* background-color: #dbeafe; */
  border-radius: 5vh;
  text-align: center;
  /* padding-top: 2vh; */
  border: .2rem solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color:#6fb5e4bf;
  font-size:4rem;
  display: flex;
  justify-content: center;
  transition: all .5s;
  float: left;
  margin-left: 12vh;
}
.emoji:hover
{
  color: #ffd153;
  background-color: #6b4921;
  font-size: 4.5rem;
  transition: all .5s;
  display: flex;
  justify-content: center;
  height: 8.5vh;
  width: 8.5vh;
}
.inputbox
{
  height: 6vh;
  width:80vh !important;
  background-color:#edf3fa ;
  border-radius: 1.5vh;
  border: .1rem solid #6fb5e4bf;
  margin-top: 1.5vh !important;
  margin-bottom: 1vh;
  padding-top: 0vh;
  color: #6fb5e4bf;
  resize: none;
  margin-left: 8vh !important;
  margin-right: 5vh;
  transition: all .5s;
}
::placeholder
{
  color:#6fb5e4bf !important;
  font-weight: 500 !important;
} 
.inputhover:hover
{
  background-color: white;
  transition: all .5s;
}
.buttonfeed
{
  background-color: #56ade8bf;
  color: white;
  transition: all .5s; 
}
.buttonfeed:hover
{
  background-color: #2f9fea;
  color: white;
  transition: all .5s;
}

@media (max-width:700px) {
  .inputbox
{
  margin-top: -0.5vh !important;
  margin-left: .5vh !important;
}
.emoji
{
  
  font-size:3.2rem;
  margin-left: 1.2vh;
  margin-top: -3vh;
  margin-bottom: -3vh;
}
.mlemoji
{
  margin-left: -1vh;
}
.subcontainer-feed
{
  padding-left: 2vh;
  padding-right: 0vh;
  border-radius: 1.5vh;
  overflow-x: hidden;
}
.emoji:hover
{
  font-size: 3.5rem;
  height: 8.5vh;
  width: 8.5vh;
}
.uploadpro
{
  font-size: .9rem;
  height: 9vh;
  width:100% !important;
  background-color:#edf3fa ;
  border-radius: 1.5vh;
  border: .1rem solid #6fb5e4bf;
  margin-top: 0vh !important;
  margin-bottom: 1vh;
  color: #6fb5e4bf;
  resize: none;
  margin-left: .5vh !important;
  margin-right: 5vh;
  transition: all .5s;
}
}